
@model CombinedViewModel

<h2>Modificar Articulo</h2>

<form asp-controller="Article" asp-action="ModifyValidation" method="post">

    <div class="form-group">
        <label asp-for="NewArticulo.Codigo">Inserte Codigo</label>
        <input asp-for="NewArticulo.Codigo" class="form-control" />
    </div>

    <button asp-action="ModifyArticle" type="submit" class="btn btn-primary">Ok</button>
    <button asp-action="Volver" type="submit" class="btn btn-primary">Cerrar</button>

</form>
@if (TempData["Message"] != null)
{
    <script>
        alert('@TempData["Message"]');
    </script>
}