@model AWSDB.Models.LeadDetailsEntity
<form asp-controller="Home" asp-action="UploadFile" method="post" enctype="multipart/form-data">
	<div class="form-group">
		<label for="archivo">Seleccione un archivo:</label>
		<input type="file" name="Archivo" id="Archivo" class="form-control-file">
	</div>
	<button type="submit" class="btn btn-primary">Cargar archivo</button>
</form>